<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <main>
            <form class="mb-2" action="/new-password" method="POST">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="New Password" required>
                </div>
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-outline-primary btn-block" type="submit"><span class="h5">Reset Password</span></button>
            </form>
        </main>
    </div>
<%- include('../includes/end.ejs') %>