<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <main>
            <form class="mb-2" action="/reset" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control <%= emailError %>" type="text" name="email" id="email" placeholder="Enter Email" required>
                    <small class="invalid-feedback">
                        Please enter a valid email address
                    </small>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-outline-primary btn-block" type="submit"><span class="h5">Reset Password</span></button>
            </form>
        </main>
    </div>
<%- include('../includes/end.ejs') %>