<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <main>
            <% if (prods.length > 0) { %>
                <div class="container row d-flex justify-content-around">
                    <% for (let product of prods) { %>
                        <div class="card m-3 text-center" style="flex-basis: 18rem;">
                            <img class="card-img-top p-2" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                            <div class="card-body">
                                <h1 class="card-title"><%= product.title %></h1>
                                <div class="card-text">
                                    <h2>$<%= product.price %></h2>
                                    <p><%= product.description %></p>
                                </div>
                                <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-outline-primary mb-2">Edit</a>
                                <form action="/admin/delete-product" method="POST">
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn btn-outline-primary" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <h1>No Products Found!</h1>
            <% } %>
        </main>
    </div>
<%- include('../includes/end.ejs') %>
