<%- include('./includes/head.ejs') %>
</head>

<body>
   <%- include('./includes/navigation.ejs') %>
   <style>
       #map{
           height: 400px;
           width: 100%;
       }
   </style>
   
    <div class="container">
        <main>
            <div class="container row">
                <div class="col d-flex flex-wrap justify-content-around">
                    <% for (i of lendingItems) { %>
                        <div class="card m-1 text-center" style="flex-basis: 10rem;">
                            <div>
                                <img class="card-img-top p-2" src="<%= i.imageUrl %>" alt="<%= i.name %>">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title"><%= i.name %></h3>
                                <button class="btn btn-info">Borrow</button>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="col" id="map"></div>
                <script>
                    function initMap () {
                        const options = {
                            zoom: 12,
                            center: <%= center %>,
                        }
                        
                        const map = new google.maps.Map(document.getElementById('map'), options);
                        function addMarker (coords) {
                        const marker = new google.maps.Marker({
                            position: coords,
                            map: map,
                            icon: '',
                        });
                    }
                    <% for (i of lendingItems) { %>
                        addMarker(<%- JSON.stringify(i.coords) %>);
                    <% } %>
                    }

                    

                        // addMarker({lat: 43.1282925, lng: -77.6317187});
                </script>
                <script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCh2YW5DbAh6hJAMCHqk9h9dTWpmGQYKPk&callback=initMap"></script>
            </div>
        </main>
    </div>
<%- include('./includes/end.ejs') %>