<%- include('./includes/head.ejs') %>
</head>

<body>
        <%- include('./includes/navigation.ejs') %>
        <input id="anPageName" name="page" type="hidden" value="profile"/>
        <div class="profile">
            <div>
                <img src="<%= user.icon ? user.icon : './img/default-avatar.jpg' %>" class="rounded mx-auto d-block"/>
            </div>
            <div class="container text-center border border-rounded mt-2 mb-2 p-2">
                <h3>
                    <%= user.name %>
                </h3>
                <% if (user.address) { %>
                    <h4>
                        <%= `${user.address.street1}, ${user.address.street2}. ${user.address.city} ${user.address.state}` %>
                    </h4>
                <% } else { %>
                    <h4>
                        You don't have an address. Add it now!
                    </h4>
                <% } %>
                <a class="btn btn-info" href="/edit-profile">Edit Profile</a>  
            </div>
            <div class="container border border-rounded mb-5">
                <div class="row">
                    <div class="col">
                        <h4 class="text-center p-2">Lending Items</h4>
                        <% if (lends.length >= 0) {%>
                            <% for (lend of lends) { %>
                                <div class="card">
                                    <div class="row no-gutters p-3">
                                        <div class="col-auto">
                                            <img src="<%=lend.imageUrl%>" alt="item" class="img-fluid" style="width: 5rem; height: auto;">
                                        </div>
                                        <div class="col">
                                            <div class="card-block px-2">
                                                <h4 class="card-title">
                                                    <%= lend.name %>
                                                </h4>
                                                <div class="card-text">
                                                </div>
                                                <a href="#" class="btn btn-info">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="container">
                                <h3>
                                    You don't have any items for lending!
                                </h3>
                            </div>
                        <% } %>
                    </div>
                    <div class="col container border border-rounded border-secondary">
                        <div class="row p-2">
                            <h4 class="text-center">
                                Posts
                            </h4>
                            <div class="container text-center">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus esse enim ipsum optio praesentium ullam nulla modi voluptates tenetur vero ad, magnam consectetur recusandae eveniet doloremque, minima veniam aut numquam.
                                </p>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
