<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="container">
            <main>
                <% if (orders.length <= 0) { %>
                    <h1>Nothing there!</h1>
                <% } else { %>
                    <ul class="list-group list-group-flush">
                        <% orders.forEach(order => { %>
                            <li class="list-group-item">
                                <h3>Order - # <%= order._id %></h3>
                                <ul class="list-group">
                                    <% order.products.forEach(p => { %>
                                        <li class="list-group-item list-group-item-primary justify-content-between align-items-center d-flex h3"><%= p.product.title %> <span class="badge badge-primary"><%= p.quantity %></span></li>
                                    <% }); %>
                                </ul>
                            </li>
                        <% }); %>
                    </ul>
                <% } %>
            </main>
        </div>
        <%- include('../includes/end.ejs') %>