<%- include('../includes/head.ejs') %>

</head>

<body>

    <%- include('../includes/navigation.ejs') %>
    <div class="container" style="text-align: center;">
        <main>
            <h1><%= product.title %></h1>
            <div style="height: 20rem;">
                <img style="height: 100%;" src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2>$ <%= product.price %></h2>
            <p><%= product.description %></p>
            <% if (isAuthenticated) { %>
                <%- include('../includes/add-to-cart.ejs') %>
            <% } %>
            <a href="/" class="btn btn-outline-primary mt-2">
                Back To Home
            </a>
        </main>
    </div>
<%- include('../includes/end.ejs') %>